@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
}
li {
  list-style: none;
  padding: 0.2rem;
}
a {
  text-decoration: none;
  color: rgb(25, 143, 151);
}
input {
  display: inline-block;
  border: none;
  font-size: 1.5rem;
}
